.example-card {
    max-width: 400px;
    height:fixed;
  }

  
.zoomHover {
  transition: transform .2s;
}

.zoomHover:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  
}

img .zoomHover:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  min-width: 300px;
}

a{
  text-decoration: none;
  color:inherit;
}