<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="Rajdhani fw-bold">{{CurrentPost?.title}}</mat-card-title>
    <mat-card-subtitle>{{CurrentPost?.userId}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="CurrentPost?.headerImage">
  
  <mat-card-actions>
    <button class="btnPaddingRight" mat-raised-button color="primary" (click)="viewPost(CurrentPost?.postId)">READ</button>
  </mat-card-actions>
</mat-card>