<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="Rajdhani fw-bold">{{CurrentPost?.title}}</mat-card-title>
    <mat-card-subtitle>{{CurrentPost?.userId}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="CurrentPost?.headerImage">
  
  <mat-card-actions>
    <button class="btnPaddingRight" mat-raised-button color="primary">READ</button>
    <!-- <button id="btnPaddingRight" mat-raised-button *ngIf="currentUserId == CurrentPost?.userId" color="warn" (click)="DeletePost(CurrentPost?.postId)">DELETE</button> -->
    <button class="btnPaddingRight" mat-raised-button *ngIf="currentUserId == CurrentPost?.userId" color="warn" (click)="navEdit(CurrentPost?.postId)">EDIT</button>
  </mat-card-actions>
</mat-card>