<div class="pt-5 row d-flex justify-content-center">
    <div class="text-center">
        <h2 class="display-2 fw-bold">{{title}}</h2>
        <p class="lead">Something on your mind champ?</p>
    </div>
    <form [formGroup]="createPostFormGroup">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="Rajdhani">Post Title</mat-label>
            <input type="text" matInput name="title" formControlName="title">
        </mat-form-field><br>
        

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="Rajdhani">Header Image URL</mat-label>
            <input type="text" matInput name="headerImage" formControlName="headerImage">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea name="content" formControlName="content"
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="500" matInput placeholder="Ex. Gosh darn! That Dana White says some whacky things..."></textarea>
          </mat-form-field><br>

        <button mat-raised-button id="btnPaddingRight" text="Create" color="warn" (click)="CreatePost()">Create</button>

        <button id="mrBtn" mat-raised-button id="btnPaddingRight" type="reset" color="primary">Reset</button>
        
    </form>

</div>
  