<div class="pt-5 row d-flex justify-content-center">
    <div class="text-center">
        <h2 class="display-2 fw-bold">{{title}}</h2>
        <p class="lead">Something on your mind champ?</p>
    </div>
    <form [formGroup]="createPostFormGroup" (ngSubmit)="CreatePost()">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="Rajdhani">Post Title</mat-label>
            <input type="text" matInput name="title" formControlName="title">
        </mat-form-field><br>
        

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="Rajdhani">Header Image URL</mat-label>
            <input type="text" matInput name="headerImage" formControlName="headerImage">
        </mat-form-field><br>
        
        <mat-label for="content">
            <h3 class="fw-bold">Content Editor</h3>
        </mat-label>
        <quill-editor [modules]="quillConfig" (onContentChanged)="maxLength($event)" [style]="editorStyle" formControlName="content"></quill-editor><br>

        <p *ngIf="createPostFormGroup.get('content')?.value != null">{{ 1000 - createPostFormGroup.get('content')?.value.length}} characters left</p>
        
          
        <button mat-raised-button class="btnPaddingRight mt-3" text="Create" color="warn">Create</button>

        <button id="mrBtn" mat-raised-button class="btnPaddingRight mt-3" type="reset" color="primary">Reset</button>
        
    </form>

</div>
  