
<div class="row p-5">
    
    <div class="col-md-6 align-self-center" id="LoginArea">

        <!--Login Form-->
        <h1 class="fw-bold">{{title}}</h1>
        <p class="fw-bold">Enter your login credentials below</p>
        
        <form [formGroup]="loginFormGroup">

            <mat-form-field appearance="fill" id="matFormField">
                <mat-label class="Rajdhani">Enter your Username</mat-label>
                <input type="text" matInput name="userId" formControlName="userId">
            </mat-form-field><br>

            <mat-form-field appearance="fill" id="matFormField">
                <mat-label class="Rajdhani">Enter your password</mat-label>
                <input type="text" name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field><br>

            <button mat-raised-button (click)="Login()" color="warn">
                Login
            </button>
        </form>

        <!--Register Button-->
        <div class="mt-5">
            <h3 class="fw-bold">Don't have an account?</h3>
            <p class="fw-bold">Register</p>
            <a mat-raised-button color="primary" [routerLink]="['/Register']">Register</a>
        </div>
        
    </div>

    <!--Image-->
    <div class="col-md-6" id="LoginLeft">
        <img src="../../../assets/images/1539640882.png" alt="" id="LoginImage">
    </div>

</div>