<!--Homepage top-->
<div class="mt-3 p-5 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-3">
            <img id="headerImage" src="../../../assets/images/1332300379.png" alt="">
        </div>
        <div class="col-md-9">
            <h1 class="fw-bold">LETS TALK BLOG</h1>
            <h3>A place to talk Mixed Martial Arts with other fans!</h3>
        </div>
    </div>
    
</div>
<hr>

<!--Homepage view posts-->
<div class="mt-3 d-flex justify-content-center">
    <div class="row">
        <div class="col" *ngFor="let post of postArray.slice(0,5)">
            <app-blog-card class="p-1" [CurrentPost]="post"></app-blog-card>
        </div>
    </div>
</div>

<div class="mt-3 d-flex justify-content-center">
    <button mat-raised-button [style]="BrowseBtn" [routerLink]="['PostList']">Browse All</button>
</div>
