table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.fa-trash-can {
  color:red;
  padding-left: 10px;
}

.fa-angles-right{
  padding-left: 10px;
}

th {
  font-weight: bold;
}